nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px 0px 200px;
}

.logo {
  display: inline;
}

.main-body {
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 100px;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0 auto;
  width: 550px;
}

p {
  text-align: center;
}

img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  width: 300px;
  margin-bottom: 20px;
}
