@font-face {
  font-family: 'Myfont';
  src: url('/fonts/Myfont-Regular\ 2.otf');
}
@font-face {
  font-family: 'Serif Black';
  src: url('/fonts/SERIBL__.TTF');
}
@font-face {
  font-family: 'Serif Med';
  src: url('/fonts/SERIM___.TTF');
}
@font-face {
  font-family: 'Serif Italic';
  src: url('/fonts/SERIMI__.TTF');
}

:root {
  --primary-color: #d8e2dc;
  --secondary-color: #fec5bb;
}

body {
  background-color: white;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 250px 20px;
}

.hero h1 {
  font-family: 'Myfont';
  font-size: 70px;
  padding-top: 25%;
  line-height: 0.7;
}

.hero h2 {
  font-family: 'Myfont';
  font-size: 30px;
  line-height: 0.2;
}

.btn-brand {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  background: #e8e8e4;
  border-radius: 25px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 7%;
}

.centerpiece {
  height: 330px;
  width: 400px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
