@font-face {
  font-family: 'Myfont-Regular';
  src: url('/Myfont-Regular\ 2.otf');
}

body {
  background-color: #ece4db;
}

.circle {
  text-align: center;
  font-family: 'Myfont-Regular';
  width: 600px;
  height: 600px;
  background-color: #f8edeb;
  position: relative;
  box-shadow: -2px 15px 11px -8px rgba(220, 219, 221, 0.69);
  border-radius: 50%;
  margin: 0 auto;
}

h1 {
  line-height: 600px;
  font-size: 100px;
  color: #868d89;
}
