@font-face {
  font-family: 'Myfont';
  src: url('/fonts/Myfont-Regular\ 2.otf');
}
@font-face {
  font-family: 'Serif Black';
  src: url('/fonts/SERIBL__.TTF');
}
@font-face {
  font-family: 'Serif Med';
  src: url('/fonts/SERIM___.TTF');
}
@font-face {
  font-family: 'Serif Italic';
  src: url('/fonts/SERIMI__.TTF');
}

:root {
  --primary-color: #d8e2dc;
  --secondary-color: #fec5bb;
}

body {
  background-color: white;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 90px 20px 40px 20px;
}

.hero h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 70px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 50px;
  }
}

.hero h2 {
  font-family: 'Myfont';
  font-size: 30px;
}

.btn-brand {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 25px;
  padding: 15px 30px;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

h3 {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
}

.project-title {
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
}

.project-description {
  font-family: 'Myfont';
  text-align: center;
  font-size: 28px;
  line-height: 0.7;
}

#pfp {
  border-radius: 50%;
  height: 275px;
  width: auto;
  margin-top: 2%;
}

#weather-app {
  filter: grayscale(100%);
}

#weather-app:hover {
  filter: grayscale(0%);
  animation-duration: 3s;
  animation: ease-in-out;
}

#donutimg {
  filter: grayscale(100%);
  padding-top: 11.5%;
}

#donutimg:hover {
  filter: grayscale(0%);
  padding-top: 11.5%;
}

.scroll-down {
  display: flex;
  justify-content: center;
  font-size: 70px;
  content: '\2193';
}

footer {
  text-align: center;
  font-family: 'Myfont';
  margin-top: 3%;
  font-size: 20px;
  opacity: 50%;
}

footer:hover {
  opacity: 100%;
}
